<%= form_with(model: [issue, comment]) do |form| %>
  <div class="field mt-5">
    <%= link_to current_user.username, profile_path(current_user) %>
    <%= form.text_area :content, class:"form-control form-control-lg", type:"text-area", col:"4", placeholder:"Write a comment" %>
  </div>
  <div class="text-right mt-3">
    <%= form.submit 'Comment', class:"btn", style:"background-color: #70adb5;" %>
  </div>
<% end %>
